@import "tailwindcss";

@theme {
  /* Fonts */
  --font-messina: "Messina Sans Variable Upright", "sans-serif";
  
  /* Breakpoints */
  --breakpoint-3xl: 1920px;
  
  /* Dark Blue */
  --color-dark-blue-100: #f0f0f7; /* oklch(0.95 0.02 265.10) */
  --color-dark-blue-200: #d6d6e6; /* oklch(0.85 0.04 265.10) */
  --color-dark-blue-300: #b8b8d4; /* oklch(0.75 0.06 265.10) */
  --color-dark-blue-400: #6f6f9d; /* oklch(0.50 0.10 265.10) */
  --color-dark-blue-500: #121233; /* oklch(0.30 0.15 265.10) DEFAULT */
  --color-dark-blue-600: #0c0c25; /* oklch(0.25 0.12 265.10) darker */
  --color-dark-blue-700: #1a1a44; /* oklch(0.35 0.13 265.10) lighter */
  --color-dark-blue-800: #08081c; /* oklch(0.20 0.11 265.10) */
  --color-dark-blue-900: #050514; /* oklch(0.15 0.10 265.10) */
  
  /* Light Blue */
  --color-light-blue-100: #f0f0ff; /* oklch(0.95 0.05 265.10) */
  --color-light-blue-200: #e6e6ff; /* oklch(0.92 0.10 265.10) */
  --color-light-blue-300: #dbdbff; /* oklch(0.90 0.15 265.10) */
  --color-light-blue-400: #c7c7ff; /* oklch(0.85 0.20 265.10) */
  --color-light-blue-500: #6464ff; /* oklch(0.75 0.25 265.10) DEFAULT */
  --color-light-blue-600: #4d4dcc; /* oklch(0.70 0.22 265.10) darker */
  --color-light-blue-700: #8080ff; /* oklch(0.80 0.23 265.10) lighter */
  --color-light-blue-800: #3939b3; /* oklch(0.65 0.20 265.10) */
  --color-light-blue-900: #2d2d99; /* oklch(0.60 0.18 265.10) */
  
  /* Easing Functions */
  --ease-fluid: cubic-bezier(0.3, 0, 0, 1);
  --ease-snappy: cubic-bezier(0.2, 0, 0, 1);
} 

body,
html {
  background-color: #020335;
  min-height: 100vh;
}
